@charset "utf-8";

/*RESET*/
*{
    margin: 0;
}

/*Corpo do site ou conteúdo geral*/
body{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}


/*Cabeçalho*/
.cabecalho {
    background-color: rgb(173, 10, 10);
    display: flex;
}


/*Imagem do cabeçalho*/
.image {
    display: flex;
    justify-content: left;
    margin-left:5%;
}
.image img {
    height: 90%;
    width: 19%;
}

.image  h1{
    margin: 4% 0% auto 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: 100;
}

/*Menu da lista do cabeçalho*/

 #menu ul{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    margin: 5% 0% 5% 0%;
    justify-content: flex-end;
}

#menu li {
    margin-right: 2%;
}

#menu a:link, a:visited {
    color: white;
    text-decoration: none;
    background-color: rgba(112, 0, 0, 0.726);
    padding: 10px;
    border-radius: 5px;
    transition: background-color .4s;
}


#menu a:hover {
    background: rgb(255, 0, 0);
    border-right: 0px solid red;
    box-shadow: 1px 1px 10px black;
    color: black;
    padding: 13px;
}


/*menu ativado*/
#a-ativado {
    background: rgb(255, 0, 0);
    border-right: 0px solid red;
    box-shadow: 0px 0px 10px black;
    color: black;
    padding: 13px;
}


/*Configuração dos links*/

a:link, a:visited {
    color: white;
    text-decoration: none;
}

li:hover {
    background: rgb(255, 0, 0);
    border-right: 0px solid red;
    box-shadow: 3px 3px 4px black;
}

/*Details*/

details summary{
    color: white;
    background-color: rgba(112, 0, 0, 0.726);
    padding: 1px 8px;
    border-radius: 5px;
    transition: background-color .4s;
    cursor: pointer;
    margin: 30% 10% 0px 0px;
}

details[open] summary{
    background: rgb(255, 0, 0);
    border-right: 0px solid red;
    box-shadow: 1px 1px 10px black;
    color: black;
    padding: 11px 20px;
    margin-top: -1px;
    margin-top: 10%;
}

details summary:hover {
    background: rgb(255, 0, 0);
    border-right: 0px solid red;
    box-shadow: 1px 1px 10px black;
    color: black;
    padding: 11px 20px;
}

/*Menu do datais*/

details ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

details li {
    justify-content: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

details a:link, a:visited {
    color: white;
    text-decoration: none;
    background-color: rgba(112, 0, 0, 0.726);
    padding: 5px 8px;
    border-radius: 5px;
    transition: background-color .4s;
}


details a:hover {
    background: rgb(255, 0, 0);
    border-right: 0px solid red;
    box-shadow: 1px 1px 10px black;
    color: black;
    padding: 11px;
}

/*Quando o details estiver aberto*/
details[open] .imagem{
    height: 20px;
}

/* formatação da section*/
section {
    width: 60%;
    margin:2% auto 10%;
    border: 0px solid black;
    box-shadow: 0px 0px 10px black;
    padding: 50px;
    border-radius: 20px;
}

section h2{
    color: white;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    background-color: rgb(173, 10, 10);
    border-radius: 30px;
    margin: 5% 0%;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
}

section h3 {
    color: rgb(177, 0, 0);
    margin: 5% 0%;
    font-weight: 100;
}

#publica {
    display: flex;
}
/*Formatção dos Dados pessoais*/
.parte1 {
    width: 50%;
}

.parte1 input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid red;
}

/*Formatação da parte da publicação da notícia*/

.parte2 {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.parte2 input {
    width: 90%;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(228, 228, 228, 0.658);
    border-radius: 5px;
    border: 2px solid red;
    background-color: rgba(228, 228, 228, 0.658);
}

.parte2 select {
    color: white;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    background: red;
}

.parte2 option {
    background: rgb(138, 1, 1);
}

textarea {
    width: 94%;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: rgba(228, 228, 228, 0.658);
}

#botao {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 30%;
    padding: 8px 16px;
    background-color: red;
    cursor: pointer;
}

#botao:hover {
   width: 35%;
   height: 60px;
}
 /*Rodapé*/
 #levador img{
    width: 5%;
    margin: -3% auto 1%;
}

#levador img:hover {
    width: 6%;
}
 footer{
     clear: both;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 10, 10);
    padding: 3% 3% 0%;
 }

 footer h2{
     font-size: 20px;
     font-weight: 100;
     margin-bottom: 20px;
 }

 #final {
     margin-top: 2%;
     background-color: black;
     padding: 10px;
 }


/*RESPONSIVIDADE*/


@media screen and (max-width:1000px) {

    /*Cabeçalho*/
    .cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .image{
        width: 50%;
        margin: auto;
    }
    .imagem {
        margin-top: 2%;
        width: 12%;
    }

    /*seção  da página*/
    #publica {
        display: flex;
        flex-direction:column;
    }

    /*Menu da lista do cabeçalho*/

    #menu ul {
        justify-content: center;
        margin-bottom: 5px;
        width: 100%;
        margin:2% 0px;
        margin-left: -6.8%;
    }

    #menu li a{
        font-size: 12px;
    }
    /*Formulário do menu da lista*/

    /*details*/

    details {
        width: 80px;
        margin-top: -2% ;
    }

    details[open] summary{
        padding: 5px 10px;
    }
    details summary:hover {
        padding:5px 10px;
    }

    details ul {
        display: flex;
        flex-direction: row;
        margin-left: -40px;
    }
    
    details li {
        margin-right: 8px;
    }

    /*Dados pessoais*/
    .parte1 {
        width: 100%;
        margin: 2% auto 8%;
    }

    /*Formulário*/
    #botao {
        width: 50%;
    }
 }